@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'social-share-button';
@import 'posts';
@import 'pages';
@import 'comments';

body {
  background-color: #96ada5;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

nav.navbar {
  background-color: #96ada5;
  border-radius: 0;
  padding: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: #333333;
  font-size: 1.2em;
  &:hover {
    background-color: darken(#96ada5, 10%);
  }
}


.navbar-brand a img {
  width: 60px;
  height: 60px;
  position: relative;
  top: -20px;
}
